<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>1086289327978-qa2n3o0j1lsouqhj84ag9relrd99m1gq.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.1086289327978-qa2n3o0j1lsouqhj84ag9relrd99m1gq</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>1086289327978-ejsaao5u7si3lggrv4an5p036jisg6ao.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyAGyMd-vhatn5CXUHiYNZ8K2WqmXU84LOo</string>
	<key>GCM_SENDER_ID</key>
	<string>1086289327978</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.evi.finance</string>
	<key>PROJECT_ID</key>
	<string>evi-finance-prod</string>
	<key>STORAGE_BUCKET</key>
	<string>evi-finance-prod.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:1086289327978:ios:80491a80e7a6279ce5d713</string>
	<key>DATABASE_URL</key>
	<string>https://evi-finance-prod-default-rtdb.firebaseio.com</string>
</dict>
</plist>