<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>1086289327978-2qaa8h22iak7t5586m4rcs28nbft2clm.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.1086289327978-2qaa8h22iak7t5586m4rcs28nbft2clm</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>1086289327978-ejsaao5u7si3lggrv4an5p036jisg6ao.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyAGyMd-vhatn5CXUHiYNZ8K2WqmXU84LOo</string>
	<key>GCM_SENDER_ID</key>
	<string>1086289327978</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.evitech.evifinance</string>
	<key>PROJECT_ID</key>
	<string>evi-finance-prod</string>
	<key>STORAGE_BUCKET</key>
	<string>evi-finance-prod.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:1086289327978:ios:48be161a924f1814e5d713</string>
</dict>
</plist>